$min-contrast-ratio: 7;
$dropdown-border-radius: 0;
$input-border-radius: 0;
$btn-border-radius: 0;
$primary: #F58225;
$table-striped-bg: #FBE2D3;
$table-hover-bg: #FAD9C1;


@import "../node_modules/bootstrap/scss/bootstrap";